<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="col-sm-6">
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name %>
    </div>
    <div class="col-sm-6">
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-6">
      <strong>Gender</strong> <br>
      <%= f.radio_button :gender, 'male', :checked => true %>
      <%= label :gender_male, 'Male' %>
      &nbsp; &nbsp;
      <%= f.radio_button :gender, 'female' %>
      <%= label :gender_female, 'Female' %>
    </div>
    <div class="col-sm-6">
      <%= f.label :student_id %><br>
      <%= f.text_field :student_id %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <div class="form-group">
    <%= f.label :nationality %><br>
    <%= f.text_field :nationality %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
