<p id="notice"><%= notice %></p>
<% if @location != nil %>
<h1>Listing Locations</h1>

<table class="table">
  <thead>
    <tr>
      <th>UserID</th>
      <th>Username</th>
      <th>Floor name</th>
      <th>UUID</th>
      <th>Major</th>
      <th>Minor</th>
      <th>Motion Data</th>
      <th>Time Stamp</th>
      <th>Operations</th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.user_id %></td>
        <td><%= location.username %></td>
        <td><%= location.floor_name %></td>
        <td><%= location.motion_data %></td>
        <td><%= location.uuid %></td>
        <td><%= location.major %></td>
        <td><%= location.minor %></td>
        <td><%= location.created_at %></td>
        <td><%= link_to 'Delete', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</
<br>
<% else %>

  <div class="empty-div">
    Location Data will Appear here!
  </div>

<% end %>
